{% extends 'notification.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1>Un nouvel article vient d'être ajouté</h1>
        </div>
        <div>
            <h1>Nom de l'article: {{ article.title }}</h1>
        </div>

        <a href="{{absolute_url (path('article_show', {'id': article.id})) }}">Consulter l'article</a>


    </div>
{% endblock %}